.bg-black-opaco {
    background-color: lab(23.52% 0 0 / 0.5);
}

/* Selecciona el pseudo-elemento del ícono del calendario */
.custom-date-icon::-webkit-calendar-picker-indicator {
    /* El filtro 'invert(1)' lo convierte a blanco */
    filter: invert(1);
    /* Opcional: añade un poco de opacidad si es muy brillante */
    opacity: 0.8;
    /* Opcional: cambia el cursor para indicar que es clickeable */
    cursor: pointer;
}

/* Opcional: puedes aumentar el brillo al pasar el ratón por encima */
.custom-date-icon::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
}
